y_list.npy
__pycache__
.ipynb_checkpoints
busy
Installation/build
Installation/dist
Bach.wav
Chopin.wav
statistic.ipynb
nnAudio_doc.rst
_templates
_build
Sphinx/build/html/_static/ 
make.bat
conf.py
Makefile
Installation/nnAudio/Untitled.ipynb
Installation/nnAudio/Untitled-Copy1.ipynb
Installation/nnAudio/Orthogonal.ipynb
Debug
performance_test/
speed_test/v1/
speed_test/v2/*/*
!speed_test/v2/*/*.ipynb
!speed_test/v2/*/*.py
speed_test/Overhead/*/*
!speed_test/Overhead/*.ipynb
!speed_test/Overhead/*.py
speed_test/Overhead/*
!speed_test/Overhead/weight
!speed_test/Overhead/weight/*.txt
Paper/
