.DS_Store
y_list.npy
__pycache__
.ipynb_checkpoints
Installation/build
Installation/dist
Bach.wav
Chopin.wav
statistic.ipynb
Installation/nnAudio/Untitled.ipynb
Installation/nnAudio/Untitled-Copy1.ipynb
Installation/nnAudio/Orthogonal.ipynb

.idea
Debug/
performance_test/
speed_test/
Paper/
Trainable_STFT/
Demonstration/
Readme.ipynb
Using nnAudio on Single GPU.ipynb
Using nnAudio on Multiple GPUs.ipynb

Sphinx/source/_autosummary
docs/
